@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.Order_delivery {
  display: grid;
  min-height: 100vh;
  padding: 0 100px;
  padding-bottom: 20px;
  grid-template-columns: 20% 60% 20%;
  font-family: "poppins";
  background-color: #FFF5EC;
}
.item{
  text-align: center;
}
.item_1{
  text-align: center;
  color: #2e266f;
  font-size: 30px;

}
.order_container{
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  flex-direction: column;
  background-color:antiquewhite;
}
.H_order_container{
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  flex-direction: column;
  background-color:bisque;
}
.Order_delivery .container {
  padding-top: 20px;
}

.logo_text_container {
  color: red;
  /* font-weight: bold; */
  font-size: 50px;
  cursor: pointer;
}

.Order_delivery 
.vertify_header {
  cursor:context-menu;
  text-align: center;
  text-align: center;
  color: #2e266f;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
}

.Order_delivery form {
  
  display: grid;
  grid-template-columns: 34.5% 66.5%;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
}

.Order_delivery p {
  background-color: transparent;
  color: #2B2176;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;

}

.Order_delivery .data {
  color: black;
}

.Order_delivery.paym_but_container {
  align-items: center;
}

.Order_delivery .paym_but_container input {
  width: 100%;
  height: 60px;
  border: none;
  background-color: #FE043C;
  color: #FFFFFF;
  border-radius: 30px;
  font-family: "Poppins";
  font-size: 30px;
  opacity: 1;
  cursor: pointer;
  transition: .5s;
  border: none;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .profile_class {
    display: grid;
    min-height: 100vh;
    padding: 0 100px;
    grid-template-columns: 10% 80% 10%;
    font-family: "poppins";
  }

}