@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.vertify_class {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: 100vh;
    padding: 0 100px;
    background-color: #FFF5EC;
    font-family: "poppins";
  }
  .vertify_class.form_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .vertify_class .vertify_header{
    color: #2e266f;
    line-height: 90px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
  }
  .vertify_class form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
  }
  .vertify_class  .name{
    width: 80%;
  }
  .vertify_class  .phone{
    width: 65%;
  }
  .vertify_class .city{
    width: 82%;
  }
  .vertify_class .address{
    width: 75%;
  }
  .vertify_class  input {
    margin-bottom: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: #2B2176;
    opacity: .7;
    padding-bottom: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
  
  }

  .vertify_class label {
    margin-right: 20px;
    display:inline-flex;
        text-align: right;
        font:icon;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 72px;
        text-transform: capitalize;
        opacity: 0.2;
        color: #2B2176;
        align-content: flex-start;
  }
  .vertify_class .price{
    display: flex;
    justify-content: center;
    height:70px;
    width:max-content;
    background-color: #FFFFFF;
    border-radius: 15px;
    align-items: center;
  }
  .vertify_class .price > p{
    font-weight: 700;
    font-size: 30px;
    vertical-align:top;
    display:inline-block;
    text-transform: capitalize;  
    opacity: 0.7;
    align-items: center;
  }
  .vertify_class .price_word{
    color: #2B2176;   
  }
  .vertify_class  .price_total{
    color: #FE043C;
  }
  .vertify_class .img-container {
    margin-left: 150px;
  }
  .vertify_class .image_1 {
    /* height: 350px; */
    width: 350px;
    align-items: flex-end;
    border-radius: 0px;
  }
  @media (max-width: 800px) {
    .vertify_class {
      grid-template-columns: auto;
    }
  
    .img-container {
      display: none;
    }
  }
  .vertify_class.paym_but_container{
  align-items: center;
 }
 .vertify_class .paym_but_container input{
    margin-left: 20px;
    width: 45%;
    border: none;
    background-color: #FE043C;
    color: #FFFFFF;
    border-radius: 30px;
    font-family: "Poppins";
    font-size: 30px;
    opacity: 1;
    cursor: pointer;
    transition: .5s;
    border: none;
    margin-top: 20px;
  }